/* Variables Start*/
:root {
  --main-color: orangered;
  --main-font: "Tajawal", sans-serif;
  --sec-font: "Koulen", cursive;
  --all-color: black;
}

/* Variables End*/

/* Global Rules Start*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
}

.container {
  padding: 0 15px;
  margin: auto;
}

@media (max-width: 767px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1300px;
  }
}

/* Global Rules End*/

/* header  start*/
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px;
  list-style: none;
}

header div {
  display: flex;
  margin-left: 80px;
}

header .logo {
  color: var(--main-color);
  font-size: 40px;
  font-weight: bold;
}

header div li a {
  margin-left: 35px;
}

header a {
  text-decoration: none;
  font-size: 22px;
  color: var(--all-color);
}

header a:hover {
  color: var(--main-color);
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}

/* header end*/

/* main start */
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

main h1 {
  color: var(--main-color);
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: bold;
}

main section {
  border-bottom: solid grey 2px;
  font-size: 30px;
  width: 50%;
  margin-top: 20px;
}

main .same-line {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

main span {
  align-self: center;
}

main button {
  color: var(--main-color);
  font-size: 40px;
  cursor: pointer;
  border: none;
  background-color: white;
  user-select: none;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

section.reveal button {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

main .hidden {
  color: var(--main-color);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  -webkit-transition: max-height 0.4s ease;
  -moz-transition: max-height 0.4s ease;
  -ms-transition: max-height 0.4s ease;
  -o-transition: max-height 0.4s ease;
  margin-right: 10px;
  margin-top: 7px;
}

main .hidden #ig {
  color: var(--main-color);
  text-decoration: none;
}

main .hidden #ig:hover {
  color: black;
}

section.reveal .hidden {
  max-height: 200px;
}

/* main end*/